body{
    background-color:bisque;
}
#Name{
    text-align: center;
    font-family:'Dancing Script', cursive;         
    background-color: #5d6d7e;   
}
img{
    align-items: center;
}

#contact{
    margin-
}